In [2]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('thyroid_cancer_risk_data.csv')
df.head()

   Patient_ID  Age  Gender  ... Nodule_Size Thyroid_Cancer_Risk Diagnosis
0           1   66    Male  ...        1.08                 Low    Benign
1           2   29    Male  ...        4.05                 Low    Benign
2           3   86    Male  ...        4.61                 Low    Benign
3           4   75  Female  ...        2.46              Medium    Benign
4           5   35  Female  ...        2.11                High    Benign

[5 rows x 17 columns]

In [4]:
from sklearn.preprocessing import OneHotEncoder

df_encoded = pd.get_dummies(df, dtype=int)

In [7]:
df_encoded.head()

   Patient_ID  Age  ...  Diagnosis_Benign  Diagnosis_Malignant
0           1   66  ...                 1                    0
1           2   29  ...                 1                    0
2           3   86  ...                 1                    0
3           4   75  ...                 1                    0
4           5   35  ...                 1                    0

[5 rows x 40 columns]